body{
    margin: 0;
    padding: 0;
}
#panel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    border-right: 1px solid black;
}
.tool{
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.tool img{
    width: 100%;
    height: 100%;
}
.tool:hover, .selected{
    background-color: gray;
}
#paint{
    position: absolute;
    top: 0;
    left: 61px;
    width: calc(100% - 61px);
    height: 100%;
    overflow: auto;
}
canvas{
    background-color: white;
    border: 1px solid black;
}